#gap{
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 1720px;

    background: #FFFFFF;
    box-shadow: inset 4px 2px 52px -23px rgba(0, 0, 0, 0.5);
}

#resources-body{
    position: absolute;
    width: 100%;
    height: 1215px;
    left: 0px;
    top: 1840px;

    background: #C7CFB9;
}

#resources-title{
    position: absolute;
    left: 37%;
    top: 86px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    color: #1F775E;
}

#resource-video{
    position: absolute;
    width: 800px;
    height: 453px;
    left: 175px;
    top: 298px;
}

#resources-text-body{
    position: absolute;
    width: 694px;
    height: 658px;
    left: 1133px;
    top: 225px;

    background: rgba(242, 248, 231, 0.65);
    text-align: center;
}

#find-more-button{
    position: absolute;
    align-items: center;
    padding: 16px 36px;
    gap: 16px;

    position: absolute;
    width: 290px;
    height: 88px;
    left: calc(50% - 290px/2 + 484px);
    top: calc(50% - 88px/2 + 361.5px);

    background: rgba(160, 234, 176, 0.65);
    border-radius: 100px;
}

#find-more-text{
    position: absolute;
    width: 218px;
    height: 56px;
    left: 35px;
    top: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    /* identical to box height, or 56px */

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #065F46;
}

#bottom{
    position: absolute;
    width: 100%;
    height: 218px;
    top: calc(50% - 218px/2 + 498.5px);
}