#video-search-body{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 70%;
}

#video-search-form{
    position: absolute;
    width: 30%;
    left: 40%;
    top: 10%;
    height: 10%;
}

#default-video-play{
    position: absolute; 
    left: 30%;
    top: 25%;
}

#video-play{
    position: absolute; 
    left: 15%;
    top: 25%;
}

#video-play-button{
    position: absolute;
    left: 29%;
    top: 80%;
}

#video-bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 1%;
    background: #C8C8C8;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}